.history {
  position: relative;
  max-width: 1720px;
  margin: 0 auto;

  &__form {
    width: 370px;
    height: 250px;
    margin-left: 504px; 

    button {
      position: relative;
     
      padding: 25px 121px 25px 95px;
      border: none;
      outline: none;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      background-color: #7eb252;
      text-transform: uppercase;
      cursor: pointer;
    }

    button:after {
      content: '';
      background-image: url(../img/jpg/arrow.png);
      width: 31px;
      height: 9px;
      position: absolute;
      right: 60px;
      top: 29px;
    }

    input {
      color: #a8c48c;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      border: none;
      border-bottom: 1px solid #abc490;
      padding-top: 20px;
      margin-bottom: 34px;
      outline: none;
    }
    input::placeholder {color:#abc490 }

    &-title {
      color: #303030;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }
  }

  &__left {
    max-width: 949px;
    padding-bottom: 43px;

    &-title {
      color: #303030;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      padding-top: 99px;
      padding-bottom: 53px;
      padding-left: 274px;
    }

    &-text {
      background-color: #f6f9f3;
      padding: 24px 32px 51px 264px;
      color: #303030;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;


      p {
        padding-bottom: 10px;
      }
      p:last-child {
        padding: 0;
      }
    }
  }




  &__right {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/jpg/history__right.jpg);
    background-size: cover;
    width: 774px;
    height: 920px;
    z-index: -1;
  }
}
