.history {
    position: relative;
    max-width: 1720px;
    margin: 0 auto;
    padding-bottom: 200px;

    &__wrapper {
        display: flex;
        align-items: center;
        max-width: 1720px;
        min-height: 920px;
        background-image: url("../img/jpg/history__right.jpg");
        background-repeat: no-repeat;
        background-position: right;
    }
    &__container {
        max-width: 965px;
    }

    &__title {
        color: #303030;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        padding-bottom: 53px;
        padding: 99px 103px 53px 264px;
    }
    &__text {
   
        background-color: #f6f9f3;
        padding: 24px 30px 51px 252px;
        color: #303030;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;


        p {
            padding-bottom: 10px;
        }
        p:last-child {
            padding: 0;
        }
    }
    &__form {

        &-title {
            color: #303030;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
        }
        width: 370px;
        height: 250px;
        margin-left: 504px;
        padding-top: 39px;

        button {
            position: relative;
            border: none;

            padding: 25px 121px 25px 95px;
            outline: none;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            background-color: #7eb252;
            text-transform: uppercase;
            cursor: pointer;
        }

        button:after {
            content: "";
            position: absolute;
            top: 29px;
            right: 60px;
            width: 31px;
            height: 9px;
            background-image: url(../img/jpg/arrow.png);
        }

        input {
            color: #a8c48c;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            border: none;
            border-bottom: 1px solid #abc490;
            padding-top: 20px;
            margin-bottom: 34px;
            outline: none;
        }
        input::placeholder {
            color: #abc490;
        }
    }
}

