.kit {
  position: relative;

  &__title {
    color: #303030;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    max-width: 520px;
    padding-bottom: 75px;
  }

  &__wrapper {
    @include wrapper;
  }

  &__container {
    top: 240px;
    left: 0;
    position: absolute;
    background-color: #f6f9f3;
    width: 1720px;
    height: 380px;
    
  }

  &__list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    &-wrapper {
      background-color: #fff;
      padding: 20px;
    }


    &-item {
      position: relative;
      margin-top: -50px;
      background-color: #fff;
      border: 1px solid rgba(164, 197, 140, 0.3);
      padding: 220px 0px 80px;
      max-width: 310px;
      text-align: center;

      &-text {
        height: 10px;
        color: #303030;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        min-width: 270px
      }

    }
  }

}

.herbs-ico{
  left: 90px;
  top: 50px;
  width: 88px;
  height: 88px;
  position: absolute;
  background-image: url(../img/jpg/kit__herbs.svg);
  background-repeat: no-repeat;
 
   
}

.herbs-ico::before {
  content: '01';
  width: 162px;
  height: 111px;
  position: absolute;
  font-size: 150px;
  font-weight: 900;
  color: #f7f9f3;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  top: 50px;
}

.instructions-ico{
  position: relative;
  background-image: url('../img/jpg/kit__herbs.svg');
  background-image: url('../img/jpg/kit__instructions.svg');
  background-repeat: no-repeat;
  background-position: 90px 50px;
}

.instructions-ico::after {
  content: '02';
  width: 162px;
  height: 111px;
  position: absolute;
  font-size: 150px;
  font-weight: 900;
  color: #f7f9f3;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  top: 50px;
}


.sertificat-ico{
  position: relative;
  background-image: url('../img/jpg/kit__herbs.svg');
  background-image: url('../img/jpg/kit__sertificat.svg');
  background-repeat: no-repeat;
  background-position: 90px 50px;
   
}

.sertificat-ico::after {
  content: '03';
  width: 162px;
  height: 111px;
  position: absolute;
  font-size: 150px;
  font-weight: 900;
  color: #f7f9f3;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  top: 50px;
}