.kit {
  margin-bottom: 200px;

  &__title {
    text-align: center;
    padding-bottom: 150px;
  }

  &__wrapper {
    max-width: 1720px;
    min-height: 400px;
    margin: 0 auto;
    background-color: #f6f9f3;

    .kit__inner {
      @include wrapper;
      background-color: #fff;
      max-width: 1000px;

      &-item {
        
        display: flex;
        justify-content: space-evenly;
      }

      .item {
        width: 300px;
        height: 300px;
        border: 2px solid #f6f9f3;
        background-color: #fff;
        text-align: center;
        margin-top: -100px;
        margin-bottom: 15px;
      }
    }
  }
}
