.contant {

  height: 750px;

  &__img {

    position: relative;
    background-image: url('../img/jpg/bg_img.jpg');
    background-size: cover;
    height: 544px;
  }

  &__bag {
    position: absolute;
    top: 92px;
    left: 405px;
  }

  &__text {
    position: absolute;
    top: 170px;
    left: 875px;
    color: #fff;
    text-align: left;
  }

  &__text span {
    display: block;
    padding-bottom: 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  &__text h1 {
    padding-bottom: 40px;
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 60px;
    line-height: 30px;
  }

  &__text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
  }

  &__form {
    width: 570px;
    height: 315px;
    position: absolute;
    top: 445px;
    left: 875px;
    background-color: #fff;
    padding: 20px;
  }

  &__border {
    width: 530px;
    height: 275px;
    border: 1px solid #a4c58c;
    background-color: #ffffff;
    // opacity: 0.6;
    padding: 20px;
  }

  &__border h3 {
    padding-bottom: 43px;
    max-width: 184px;
    color: #303030;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  &__border input {
    border: none;
    border-bottom: 1px solid #a4c58c;
    padding-bottom: 10px;
    color: #a8c48c;
    line-height: 30px;
    outline: none;
    
  }

}
