.top {
  margin-bottom: 75px;

  &__images {

    background-image: url('../img/jpg/bg_img.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-width: 1720px;
    min-height: 545px;
    margin: 0 auto;
  }

  &__wrapper {
    margin-top: -450px;
  }

  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__inner-img {
    margin-left: 125px;
  }

  &__inner-form {
    max-width: 574px;
    width: 100%;
  }

  &__inner-suptitle {
    margin-top: 56px;
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__inner-title {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 60px;
    color: #fff;
  }

  &__inner-text {
    margin-bottom: 80px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
  }

  

  // &__inner-img {
  //   position: absolute;
  //   top: 92px;
  //   left: 405px;
  // }

  // &__inner-form {
  //   position: absolute;
  //   top: 170px;
  //   left: 875px;
  //   color: #fff;
  //   text-align: left;
  // }

  // &__inner-subtitle {
  //   display: block;
  //   padding-bottom: 28px;
  //   font-size: 14px;
  //   font-weight: 700;
  //   line-height: 30px;
  //   text-transform: uppercase;
  //   letter-spacing: 0.7px;
  // }

  // &__inner-title {
  //   padding-bottom: 40px;
  //   color: #ffffff;
  //   font-family: "Montserrat - Semi Bold";
  //   font-size: 60px;
  //   line-height: 30px;

  // }

  // &__inner-text {
  //   font-size: 18px;
  //   font-weight: 400;
  //   line-height: 24px;
  //   max-width: 500px;
  // }
}

.top-form {
  background-color: #fff;
  padding: 20px;

  form {
    border: 1px solid #c8dcba;
    position: relative;
  }

  &__inner {
    padding: 45px 50px 108px 50px;
  }

  &__title {
    width: 190px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #303030;
  }

  input {
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;

    border-bottom: 1px solid #c8dcba;
    outline: none;

    font-size: 14px;
    color: #000;
    font-weight: 400;

    width: 195px;
  }

  input::placeholder {
    color: #c8dcba;
  }

  input+input {
    margin-left: 30px;
  }

  button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 22px 110px 22px 70px;

    border: none;
    outline: none;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

    background-color: #7eb252;

    text-transform: uppercase;

    cursor: pointer;
  }

  button:after {
    content: '';
    background-image: url(../img/jpg/arrow.png);
    width: 31px;
    height: 9px;
    position: absolute;
    right: 60px;
    top: 25px;

  }
}

.top-form:nth-child(2) {
  margin-right: 27px;
}

// .top-form {
//   position: absolute;
//   top: 261px;
//   left: 0;
//   background-color: #fff;
//   padding: 20px;
//   margin: 0 auto;
//   width: 570px;

//   form {
//     border: 1px solid #a4c58c;
//   }

//   &__inner {
//     background-color: #ffffff;
//     padding: 52px 50px 118px 50px;
//   }

//   &__title {
//     padding-bottom: 43px;
//     max-width: 190px;
//     color: #303030;
//     font-weight: 700;
//     line-height: 22px;
//     text-transform: uppercase;
//     letter-spacing: 1px;

//   }

//   &__inner input {
//     border: none;
//     border-bottom: 1px solid #a4c58c;
//     padding-top: 14px;
//     padding-bottom: 14px;
//     color: #a8c48c;
//     line-height: 30px;
//     outline: none;
//     font-weight: 400;
//   }

//   &__inner input::placeholder {
//     color: #a8c48c;
//   }

//   button {
//     position: absolute;
//     padding: 22px 110px 22px 70px;
//     background-color: #7eb252;
//     bottom: 20px;
//     right: 21px;
//     color: #ffffff;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 22px;
//     text-transform: uppercase;
//     letter-spacing: 0.7px;
//     outline: none;
//     border: none;
//     cursor: pointer;
//   }

//   button::after {
//     position: absolute;
//     content: '';
//     background-image: url('../img/jpg/arrow.png');
//     width: 31px;
//     height: 9px;
//     top: 30px;
//     right: 60px;
//   }

// }
