.symptoms {
  position: relative;
  margin-bottom: 290px;

  &__container {
    @include wrapper;
    text-align: left;
  }

  &__img {
    display: inline-block;
  }

  button {
    position: absolute;
    right: 236px;
    bottom: -139px;
    padding: 30px 150px 30px 124px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #7eb252;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:after {
    content: '';
    background-image: url(../img/jpg/arrow.png);
    width: 31px;
    height: 9px;
    position: absolute;
    right: 60px;
    top: 29px;
  }

  &__title {
    position: absolute;
    color: #303030;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    max-width: 446px;
    padding-bottom: 70px;
  }

  &__background {
    top: 180px;
    left: 0;
    position: absolute;
    width: 1720px;
    height: 540px;
    background-color: #f6f9f3;
    z-index: -1;
  }


  &__wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.tabs {

  text-align: left;
  padding-right: 20px;
  padding-top: 222px;
  width: 100%;

  .tab {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    padding: 20px 0;
    border-bottom: 1px solid #edf3e8;
    cursor: pointer;
  }

  .tabs__box {
    display: flex;
    flex-wrap: wrap;
    width: 670px;

    .tab {
      max-width: 339px;
      padding-right: 48px;
      color: #303030;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      display: flex;
      text-transform: inherit;
    }

    .tab:nth-child(2n) {
      border-left: 1px solid #edf3e8;
      border-bottom: 1px solid #edf3e8;
      padding-left: 10px;
    }
  }

  span {
    padding-right: 21px;
    color: #a4c58c;
  }
}

.tabs-right {
  background-image: url('../img/jpg/symptoms.jpg');
  min-width: 500px;
  height: 689px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top top;
  position: relative;

  &__bottom {
    position: absolute;
    bottom: 0;
    right: 85px;

    &-inner {
      padding: 20px;
      background-color: #f6f9f3;

      fieldset {
        width: 375px;
        background-color: #f6f9f3;
        padding: 39px 27px 39px 50px;
        border: 1px solid rgba(164, 197, 140, 0.6);

        legend {
          color: #7eb252;
          font-family: "Montserrat - Semi Bold";
          font-size: 14px;
          font-weight: 600;

          line-height: 24px;
          text-decoration: underline;
        }
      }

      &__text {
        color: #303030;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

      }
    }
  }

  .tab-item {
    display: none;
    width: 44px;
    height: 44px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    border: 9px solid rgba(255, 255, 255, .8);
    border-radius: 50%;
    position: absolute;
    text-align: center;
  }

  .item-1 {
    left: 150px;
    top: 182px;
  }

  .item-2 {
    left: 300px;
    top: 200px;
  }

  .item-3 {
    left: 228px;
    top: 135px;
  }

  .item-4 {
    left: 250px;
    top: 250px;
  }

  .item-5 {
    left: 227px;
    top: 9px;
  }

  .item-6 {
    left: 195px;
    top: 360px;
  }

  .item-7 {

    left: 190px;
    top: 150px;
  }

  .item-8 {
    left: 244px;
    top: 212px;
  }

  .item-9 {
    left: 210px;
    top: 65px;
  }

  .tab-item:first-child {
    display: block;
  }
}
